In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/reddy/eng_movie_subtitles.csv')

In [2]:
df= df.drop(columns=['num','content'])

In [3]:
import re

In [4]:
def clean_text(text):
    text = text.strip()
    text = re.sub(r'^\d+\s', '', text)
    text = re.sub(r'\r\n', ' ', text)
    text = re.sub(r'[^\x00-\x7F]+', '', text)
    text = re.sub(r'<[^>]+>', '', text)
    text = re.sub(r'\d{2}:\d{2}:\d{2},\d{3} --> \d{2}:\d{2}:\d{2},\d{3}', '', text)
    text = text.lower()
    text = re.sub(r'[^\w\s]', '', text)
    text = ' '.join(text.split())
    return text

In [5]:
df['file_content'] = df['file_content'].apply(clean_text)

In [6]:
df.head(5)

,name,file_content
0,the.message.(1976).eng.1cd,watch any video online with opensubtitles free...
1,here.comes.the.grump.s01.e09.joltin.jack.in.bo...,ah theres princess dawn and terry with the 2 b...
2,yumis.cells.s02.e13.episode.2.13.(2022).eng.1cd,yumis cells 2 2 episode 36 extremely polite yu...
3,yumis.cells.s02.e14.episode.2.14.(2022).eng.1cd,watch any video online with opensubtitles free...
4,broker.(2022).eng.1cd,1 watch any video online with opensubtitles fr...

In [7]:


def clean_movie_name(name):
    # Remove newline characters
    clean_movie_name = re.sub(r'\n', '', name)
    # Replace periods with spaces
    clean_movie_name = clean_movie_name.replace('.', ' ')
    # Convert to title case
    clean_movie_name = clean_movie_name.title()
    # Remove any trailing text after 'Eng' (assumed to be English version indication)
    clean_movie_name = re.sub(r'\s*Eng.*$', '', clean_movie_name)
    return clean_movie_name

In [8]:
df['name'] = df['name'].apply(clean_movie_name)

In [9]:
df.head(5)

,name,file_content
0,The Message (1976),watch any video online with opensubtitles free...
1,Here Comes The Grump S01 E09 Joltin Jack In Bo...,ah theres princess dawn and terry with the 2 b...
2,Yumis Cells S02 E13 Episode 2 13 (2022),yumis cells 2 2 episode 36 extremely polite yu...
3,Yumis Cells S02 E14 Episode 2 14 (2022),watch any video online with opensubtitles free...
4,Broker (2022),1 watch any video online with opensubtitles fr...

In [10]:
file_path = 'C:/Users/reddy/eng_movie_subtitles.csv'
df.to_csv(file_path, index=True)